@import url('https://fonts.googleapis.com/css2?family=Holtwood+One+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bowlby+One+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Pinstripe:ital@0;1&display=swap');

* {
    box-sizing: border-box;
}

:root {
    --active-height: 140px;
    --active-width: 250px;
    --inactive-width: calc(var(--active-width) * .8);
    --inactive-height: calc(var(--active-height) * .8);
    --theme: #e6cc00;
}

body {
    min-height: 100vh;
    min-width: 100vw;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
        "header"
        "main"
        "footer";

    background-color: #000;
    font-family: "Holtwood One SC", serif;
    font-weight: 400;
    font-style: normal;
    color: #fff;
    margin: 0;
}

body video {
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  opacity: 50%;
}

header {
    grid-area: header;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-areas: "car-model" "logo";
    margin: 20px 40px 0 40px;
}

header h1 {
    margin: 0;
    padding-bottom: 12px;

    color: #fff;
    font-size: 48px;
    font-style: italic;
    letter-spacing: 2px;
    text-shadow:
    -100px -100px 0 var(--theme),
     10px -10px 0 var(--theme),
     0 0 0 var(--theme),
     0 0 0 var(--theme);
}

header div {
    display: flex;
    align-items: center;
    margin-top: -10px;
}

header .logo {
    width: 80px;
    margin-left: 40px;
}

main {
    grid-area: main;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 1fr;
    grid-template-areas: "car-specs-1" "car-specs-2";

    margin: 0 80px 0 80px;
    font-family: "Alumni Sans Pinstripe", sans-serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 2px;
}

main h3 {
    font-size: 24px;
}

main #car-specs-1 {
    display: flex;
    align-items: start;
    flex-direction: column;
}

main #car-specs-1 article{
    margin: 20px 0 20px 0;
}

main #car-specs-1 article h2, h3{
    margin: 0;
}

#car-specs-1 article h2 {
    border-bottom: 1px solid #fff;
}

main #car-specs-2 {
    display: flex;
    align-items: end;
    flex-direction: column;
}

main #car-specs-2 article h2, h3{
    margin: 0;
}

#car-specs-2 article h2 {
    border-bottom: 1px solid #fff;
}

#car-specs-2 article h3 {
    text-align: end;
}

main #car-specs-2 article{
    margin: 20px 0 20px 0;
}

.carousel {
    width: 100%;
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-template-areas: "prev-button" "car-carousel" "next-button";
    place-items: center;
}



footer {
    grid-area: footer;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "watch" "socials";
    place-items: center;
    padding-bottom: 20px;
}

footer .button {
    height: 70%;
    border: 1px solid #fff;
    border-radius: 5px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.car-carousel .car-posters {
    display: flex;
}

.car-carousel .car-posters div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.car-carousel .car-posters div img{
    height: var(--inactive-height);
    width: var(--inactive-width);
    opacity: 50%;
    margin: 0 10px 0 10px;
    transition:0.2s ease;
}

.active {
    height: var(--active-height) !important;
    width: var(--active-width) !important;
    opacity: 100% !important;
    margin: 0 10px 0 10px;
}

footer .button {
    cursor: pointer;
    transition: 0.2s;
    border: none;
}

footer .button:hover {
    background-color: var(--theme);
}

footer .next-button-holder {
    margin-right: 20px;
}

footer .prev-button-holder {
    margin-left: 20px;
}

footer i {
    cursor: pointer;
    transition: 0.2;
}

.button i {
    color: #000;
}